.cart{
    background-color: white;
}

.moment{
    color: #77d146;
}

.cart-price{
    font-weight: 700;
}

.shopping-cart .cart-image{
    width: 100%;
    max-width: 250px;
}

.shopping-cart .bg-light{
    height: 60px;
}

.shopping-cart .bg-light > small {
    color: grey;
}

.cart-button {
    color: white;
    background-color: #566c80 ;
}

.delete-btn{
    width: 30px;
    height: 30px;
}

@media(max-width:1024px) {
    .btn-back{
        width: 200px;
    }
}

@media(max-width:1024px) {
    .cart-image{
       height: 100px ;
    }
}

@media(max-width:1024px){
    .cart-info{
        flex-direction: column-reverse;
        flex-wrap:wrap ;
    }
}


