.login {
    background-color: #acb6c1;
    display: flex;
    flex-direction: column;
    height: 445px;
    align-items: center;
    width: 100%;
}

.input-form{
    width: 300px;
}

.logo-name-login {
    font-size: 60px;
    margin-top: 40px;
}

