.product-category{
    background-color: rgba(211, 211, 211, 0.137);
}

.product-category img {
    height: 350px;
    width: 510px;
    object-fit: cover;
}

.product-category p {
    margin-top: -28px;
    text-align: center;
    color: white;
}

.product-category a {
    text-decoration: none;
}

.category-group {
    margin-left: 60px;
}

#box img {
   box-shadow: 0;
   transition: box-shadow 1s;
   border: 1px solid #f1efef;
}

#box:hover{
    box-shadow: 0 0 10px #1d1c1c;
}