.side-bar{
    border: solid 1px rgb(219, 219, 219);
  
    border-left: none;
    border-top: none;
    border-bottom: none;
    border: right;
    width: 200px;
    height: 100%;
}

.side-bar li{
    text-decoration: none;
}



.side-text{
    list-style: none;
    border-radius: 5px;
    margin-top: 4px;
    height: 30px;
    }

  