
   
.secondary-bar {
  width: auto;
  height: 75px;
  justify-items: center;
  background-image: url(../../assets/CarouselImages/sram_x01_eagle_2021_accion_1.jpeg);
  background-repeat: no-repeat;
 background-size: cover;
 background-position: 1px;
}

.secondary-bar .secondary-form {
  margin-left: 320px;
  position: relative;
  float: right;
}

@media(max-width:1024px){
  .secondary-form{
    margin-right: 150px;
    width: 400px;
    
  }
}

.inner p {
  transition: all 1.5s ease;
}

.inner:hover p {
  transform: scale(1.5);
}

.secondary-bar ::placeholder {
  color: white;

}



.secondary-bar .form-control {
  background-color: transparent;
  border: solid 1px;
  width:  500px;
  height: 25px;
  text-decoration: none;
  color: darkgray;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0%;
  margin-left: 200px;
}

.search-icon {
  margin-right: 10px;
}

.secondary-bar .fa {
  color: white;
}