
.card-title{
    text-align: left;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform:  scale(1.5);
}

@media only screen and (max-width:1024px){
    .card-size{
        display: none;
    }
}

@media (max-width:1024px){
    .card-body h5{
        margin-top: -20px;
        font-size: 9px;
    }
}

@media (max-width:1024px){
    .card-body small {
        color: red;  
    }
}

@media (max-width:1024px){
    .card{
       width: 30% !important;
    }
}



