#group{
    background-color: white;
}

#cart-order{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 10px 5px;
}
.main-order{
    display: flex;
    width: 100%;
}
.user-adress{
    font-weight: 300;
    color:gray
}

.info-order-user{
    padding: 25px;
}
.img1-order{
    width: 75px;
}

.delivery-gls h6{
    margin-top: 10px;
}

.order-credit-card img{
    width: 150px;
}

.credit-card{
    background-color: #dd5573;
    color: white
}

.credit-card > img{
    height: 30px;
}


.credit-card{
    max-width: 300px;
}

.credit-card-expires > small{
    font-size: 20px;
    font-weight: 500;
}


.cart-order h6{
    color: #77d146;
}


.info-resume img{
 width: 80px;
}

.info-resume-amount {
    color: #77d146;
}


@media(max-width:1024px){
    .main-order{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1024px){
    .main-order{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1024px){
    .info-order-user {
      width:100%;
    }
}

@media(max-width:1024px){
    .info-user-pay{
        width:100%;
    }
}

@media(max-width:1024px){
    .order-credit-card{
        width:100%;
    }
}

@media(max-width:1024px){
    .cart-order{
        width:100%;
    }
}
