.footer {
    height: 130px;
    background: -webkit-radial-gradient(center center, circle, #b3bbc2, #80a0be);
    list-style: none;
    position:static;
    bottom: 0;
    min-height: 70px;
    width: 100%;
    color: black;
    text-decoration-color: none;
}

.footer ul{
    list-style: none;
}

.footer i {
    color: white;
    text-decoration: none;
   
}
.footer fa {
    width: 30px;
}