.footer {
    height: 100px;
    background: -webkit-radial-gradient(center center, circle, #818d97, #2a4a68);
    list-style: none;
    position:static;
    bottom: 0;
    min-height: 70px;
    width: 100%;
}

.footer ul{
    list-style: none;
}

.footer i {
    color: white;
    text-decoration: none;
   
}
.footer fa {
    width: 30px;
}