.register{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.register .register-info{
    background-color: lightgrey;
    height: 435px;
    list-style:none;
    margin-top: 55px;
}
