.register{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin-bottom: auto;
}

@media(max-width:1024px){
    .register{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1024px){
    .register-info{
        height: 445px;
        list-style: none;
    }
}

@media(max-width:1024px){
    .logo-name-register{
       font-size: 40px;
       margin-bottom: 10px;

    }
}

@media(min-width:1024px){
    .logo-name-register {
        font-size: 60px;
        margin-bottom: 10px;
    }
}


.register-info {
    background-color:  #acb6c1;
}

.register-info ul {
   list-style: none;
}

@media(min-width:1024px){
    .div-form{
        width: 500px;
    }
}

@media(max-width:1024px){
    .div-form{
        width: 400px;
    }
}
